<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @website.link %>
</p>

<p>
  <strong>Description:</strong>
  <%= @website.description %>
</p>

<%= link_to 'Edit', edit_website_path(@website) %> |
<%= link_to 'Back', websites_path %>
